<div class='row' id="menuHead">
  <span style="font-size:20px;cursor:pointer;margin-left: 3%" (click)="back()">&#60;</span>
  <span style="text-align: center;font-size: 115%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;Transformer Inventory</span>
  </div>
  <div class="row" id='row1' >
      <table>
        <thead style="opacity:0.6;font-size:12px">
          <td>&nbsp;&nbsp;SERVICE ID</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DATE</td>
        </thead>
        <tbody style="color:red;font-size: 15px">
          <td>&nbsp;&nbsp;&nbsp;123456789456-C</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <td>23 JAN, 2017</td>
        </tbody>
      </table>
        </div>

        <h1 style="font-size:12px;padding-left:8%;margin-top:10%;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">PRIMARY DETAILS</h1>
        <div  id="row2">
          <h1 style="color:blue;padding-top:2%;margin-left: 0px;font-size:12px">Name of Data Collector</h1>
          <h1 style="font-size: 20px">John Smith</h1>
        </div>
        <div  id="row2">
            <h1 style="color:blue;padding-top:5%;margin-left: 0px;font-size:12px">Serial Number</h1>
            <h1 style="font-size: 20px">125-1234</h1>
          </div>

          <div  id="row2">
              <h1 style="color:blue;padding-top:5%;margin-left: 0px;font-size:12px">Manufacturing Date</h1>
              <h1 style="font-size: 20px">27/01/2017</h1>
            </div>
<h1 style="font-size:12px;padding-left:8%;margin-top:10%;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">SECONDARY DETAILS</h1>


<div  id="row2">
    <h1 style="color:blue;padding-top:5%;margin-left: 0px;font-size:12px">Transformer Type</h1>
    <h1 style="font-size: 20px">Voult Type</h1>
  </div>
  